Aadit Joshi

---


25070123173


---


Study of list, tupple and dictionary

In [2]:
listfruits=["apple","orange","cherry"]
print(listfruits)

['apple', 'orange', 'cherry']

In [3]:
listfruits=["apple","orange","apple","cherry"] #duplicates are allowed in the list
print(listfruits)

['apple', 'orange', 'apple', 'cherry']

In [10]:
#finding the length of list

listfruits=["apple","orange","apple","cherry"] #duplicates are allowed in the list
print(listfruits)
print(len(listfruits))

list1=[2,2.5,True,"Aadit"]
print(list1)
print(len(list1))

['apple', 'orange', 'apple', 'cherry']
4
[2, 2.5, True, 'Aadit']
4

In [18]:
#appending the element

listfruits=["apple","orange","cherry"]
print(listfruits[0])
print(listfruits[-2])
listfruits.append("banana")
print(listfruits[0])
print(listfruits[-2])
print(listfruits)

apple
orange
apple
cherry
['apple', 'orange', 'cherry', 'banana']

In [23]:
#inserting the element

listfruits=["apple","orange","cherry"]
listfruits.insert(1,"banana")
print(listfruits)

['apple', 'banana', 'orange', 'cherry']

In [25]:
#replacing the element

listfruits=["apple","orange","cherry"]
listfruits[1]="banana"
print(listfruits)

['apple', 'banana', 'cherry']

In [29]:
#extending the element

list1=["apple","orange","cherry"]
list2=["mango","pineapple","banana"]

#method 1
x=list1 + list2
print(x)

#method 2
list1.extend(list2)
print(list1)

['apple', 'orange', 'cherry', 'mango', 'pineapple', 'banana']
['apple', 'orange', 'cherry', 'mango', 'pineapple', 'banana']

In [33]:
list1=["apple","banana","cherry","kiwi","mango","pineapple"]
print(list1[2:5])
print(list1[2:])
print(list1[:4])

['cherry', 'kiwi', 'mango']
['cherry', 'kiwi', 'mango', 'pineapple']
['apple', 'banana', 'cherry', 'kiwi']

In [43]:
#Create a list of 5 students names
#Display the first and last student
#Add a new student
#Remove any one student
#Sort the list alphabetically

listname=["raj","rohit","virat","josh","david"]
print(listname)
print(listname[0])
print(listname[4])
listname.append("smith")
print(listname)
listname.remove("virat")
print(listname)

listname.sort()
print(listname)

['raj', 'rohit', 'virat', 'josh', 'david']
raj
david
['raj', 'rohit', 'virat', 'josh', 'david', 'smith']
['raj', 'rohit', 'josh', 'david', 'smith']
['david', 'josh', 'raj', 'rohit', 'smith']

In [47]:
#Create a list of student marks
#Display highest and lowest marks
#Calculate average marks
#Sort the marks in ascending order

listmarks=[45,67,34,89,80]
print(max(listmarks))
print(min(listmarks))
print(sum(listmarks))
print(len(listmarks))
print(sum(listmarks)/len(listmarks))
listmarks.sort()
print(listmarks)

89
34
315
5
63.0
[34, 45, 67, 80, 89]